body {
    background: rgb(31, 59, 31);
    color: white;
    
}
/* .state--value { */

    /* border: 6px solid white;
    border-radius: 70px;
    width: 83px;
    text-align: center;
    background: white; */

    

/* } */

/* .counter--count {
    border: 6px solid white;
    border-radius: 70px;
    width: 83px;
    text-align: center;
    background: white;

} */